# Ignore data files
*.json linguist-generated=true

# Ignore generated HTML/CSS/JS
*.html linguist-generated=true
*.css linguist-generated=true
*.js linguist-generated=true

# Ignore environments
venv/* linguist-vendored
cstr_env/* linguist-vendored

# Ignore build folders
dist/* linguist-generated=true
build/* linguist-generated=true